.parent {
  display: grid;
  /* grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr); */
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: pink;

  width: 50vw;
  height: 50vw;
  max-width: 80vh;
  max-height: 80vh;
}

.child {
  /* background-color: lightblue; */
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: lightgray;
}

.queen {
    width: 80%;
    mix-blend-mode: multiply;
}